/* Custom styles for the range input */
.calculatorcontainer #emicalculatorform input[type="range"] {
  /* Remove default styles */
  -webkit-appearance: none;
  -moz-apperance: none;
  appearance: none;
  /* Dimensions */
  width: 100%;
  height: 8px; /* Adjust height as needed */
  /* Track */
  /* background-color: #ccc; Default background color */
  border-radius: 11px; /* Rounded corners */
  /* Thumb (handle) */
  cursor: pointer;
}
/* Track (background) style */
.calculatorcontainer
  #emicalculatorform
  input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 4px; /* Rounded corners */
}
/* Thumb (handle) style */
.calculatorcontainer
  #emicalculatorform
  input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styles */
  appearance: none;
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background: #ed8c2b; /* Custom thumb color */
  border-radius: 50%; /* Circular shape */
}
/* Firefox */
.calculatorcontainer #emicalculatorform input[type="range"]::-moz-range-track {
  /* background: #ccc; Default background color */
  border-radius: 4px; /* Rounded corners */
}
.calculatorcontainer #emicalculatorform input[type="range"]::-moz-range-thumb {
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background: #ed8c2b; /* Custom thumb color */
  border-radius: 50%; /* Circular shape */
  cursor: pointer;
}
/* IE */
.calculatorcontainer #emicalculatorform input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  width: 100%;
  height: 8px; /* Adjust height as needed */
  cursor: pointer;
}
.calculatorcontainer #emicalculatorform input[type="range"]::-ms-fill-lower {
  /* background: #ccc; Default background color */
  border-radius: 4px; /* Rounded corners */
}
.calculatorcontainer #emicalculatorform input[type="range"]::-ms-fill-upper {
  /* background: #ccc; Default background color */
  border-radius: 4px; /* Rounded corners */
}
.calculatorcontainer #emicalculatorform input[type="range"]::-ms-thumb {
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background: #ed8c2b; /* Custom thumb color */
  border-radius: 50%; /* Circular shape */
  cursor: pointer;
}

.highcharts-legend-item {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px; /* Add margin between legend items */
}

.highcharts-legend-item text {
  fill: #333333;
  display: block; /* Display legend text on a new line */
}

.highcharts-legend-item rect.highcharts-point {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 5px;
}
